<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mt-2 mb-2">
    <%= form.label :firstname, class: 'fw-bold' %>
    <%= form.text_field :firstname, class: "form-control" %>
  </div>

  <div class="form-group mb-2">
    <%= form.label :lastname, class: 'fw-bold' %>
    <%= form.text_field :lastname, class: "form-control" %>
  </div>

  <div class="form-group mb-2">
    <%= form.label :phone, class: 'fw-bold' %>
    <%= form.text_field :phone, class: "form-control" %>
  </div>

  <div class="d-flex flex-row-reverse">
    <%= form.submit class: "btn btn-primary", style: 'margin-left: 15px;' %>
    <% if @contact.id.present? %>
      <%= link_to "Cancel", contact_path(@contact), class: "btn btn-danger" %>
    <% end %>
  </div>

<% end %>
